* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
    color: #0c0b0b;
  }
  
  .container {
    padding: 20px;
  }
  
  footer {
    background-color: #181616;
    color: white;
    text-align:center;
    padding: 15px;
    margin-top: 30px;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
  }
  
  nav li {
    display: inline;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  